body {
  margin: 0;
  padding: 0;
  background: lightblue;
}

.container {
  margin: 30px;
  border: 2px solid darkblue;
  width: 600px;
  height: 600px;
}

.vertical {
  display: flex; 
  justify-content: center;
  margin: 0;
}

.horizontal {
  justify-content: center;
  background: white;
  border: 1px solid black;
}

.horizontal:hover {
  background: black;
}

.button {
  display: flex;
  justify-content: center;
}

.btn {
  justify-content: center;
  background: white;
  margin: 30px 0px 30px 30px;
  padding: 5px;
  border: 2px solid darkblue;
}